<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RTMPPhotoPublisher.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>RTMPStreamComeback.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>RTMPStreamPlayer.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RTMPStreamPublisher.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F904F0321B3D550F006BDB58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F904F04A1B3D550F006BDB58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F97DF9251B4147F200B310FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F97DF93D1B4147F200B310FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F988F2A715AD843B0083CB14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9BBFA2014A49BA600C5B39B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9BBFA4814A49C8600C5B39B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9BBFA6914A49CB800C5B39B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9CAACC515AF0935002C77A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9F6991F15AC5D01004B6F37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9F7031B1652641D004FCA9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
